$default-font: "RalewayRegular", sans-serif;
$accent: #f39f18;
$link: #fff;
$link-hover: #f39f18;
$border-bottom: #b97200;
$color-form-text: #97a4b2;
$border-form: #1a222b;
$button-buttom: #b97200;
$background_section-1: #f9f9f9;
$color-h1: #2c3949;
$paragraph: #333333;
$item-p: #111111;
$item-botoom: #DEE1E5;
$armata-content: #394b5f;
$armata_button: #2c3949;
$dials_background: #e5e5e5;
$cart-bottom : #1a222b;
$finans-cart-background: #d6d6d6;
$contact-background: #6e7b8b;
$form-2-color: #5e6267;
$form-2-border-bottom: #828282;
$form-2-span: #adb3b9;
$form-2-border: #737373;
$footer-bootom: #1f2b3a;



